aiofiles==0.6.0
aliyun-python-sdk-core-v3==2.13.11
APScheduler==3.6.3
cachetools==4.1.1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
cssutils==1.0.2
dnspython==2.0.0
email-validator==1.1.2
emails==0.6
fastapi==0.61.2
gevent==20.12.1
greenlet==0.4.17
h11==0.11.0
idna==2.10
Jinja2==2.11.2
jmespath==0.10.0
loguru==0.5.3
lxml==4.6.1
MarkupSafe==1.1.1
pdfkit==0.6.1
premailer==3.7.0
pycryptodome==3.9.9
pydantic==1.7.2
pymongo==3.11.1
PyPDF2==1.26.0
python-dateutil==2.8.1
python-multipart==0.0.5
pytz==2020.4
redis==3.5.3
requests==2.25.0
rq==1.6.1
six==1.15.0
starlette==0.13.6
supervisor==4.2.1
tzlocal==2.1
urllib3==1.26.2
uvicorn==0.12.3
weixin-python==0.5.7
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.2.0
